*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}
.nav-block{
    display: block;
}

.nav1{
    background-color: #191919;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem;
}
.submit-icon{
    display: flex;
    align-items: center;
}

.nav-submit{
    display: flex;
    align-items: center;
}

.fa-brands{
    padding-left: .2rem;
}

.fa-solid{
    padding-left: .3rem;
}

.nav-submit{
    font-weight: 500;
    font-size: 1rem;
}
.wishlists p{
    display: none;
    font-weight: 500;
    font-size: 1rem;
}
.nav-submit:hover{
    color: #F15025;
    cursor: pointer;
}

.nav2{
    /*position: fixed;
    z-index: 10;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.nav-header {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nav-header p{
    font-size: 1.2rem;
}

.fa-cutlery{
    font-size: 1.5rem;
}

.navlink{
    display: none;
    background-color: #fff;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    box-shadow: 0 0 2px #232323;
}


.navlink a{
    display: block;
    color: #636161;
    text-decoration: none;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    left: 2rem;
    top: 4rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid #a9a2a2;
    font-weight: 500;
    padding: 1rem 0;
}

.navlink a:hover{
    color: #000;
}

.navlink.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}

.nav-icon{
    display: flex;
    align-items: center;
}
.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: #232323;
    margin: 5px;
}

.line{
    width: 2px;
    margin: 0 .5rem;
    height: 22px;
    background-color: #a9a2a2;
}

.nav-search{
    font-size: 1rem;
    color: #232323;
}

/*nav 3*/
.back-drop{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}
.nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}
.nav3 input{
    width: 100%;
}


/*BACKGROUND*/
.bg-contact img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bg-contact{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imag/img30.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%; 
}

.bg-text{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-align: center;
    padding: 12rem 0;
}


/*SECT 1*/
.search-container{
    margin: 2rem auto;
    width: 90%;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn input{
    width: 100%;
    padding: .8rem .4rem;
    outline: none;
    border: none;
    background-color: #F3F2EF;
    font-size: .9rem;
    font-weight: 500;
}
.search-btn button{
    padding: .8rem .4rem;
    outline: none;
    border: none;
    background-color: #F15025;
    color: #fff;
    font-weight: 500;
}


/*SECT 2*/
.card-container{
    width: 90%;
    margin: 1rem auto;
}
.flex-item{
    display: flex;
    flex-direction: column;
}
.card{
    margin: .4rem 0;
}
.card img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: relative;
}
.card-text{
    margin: 1rem;
}

/*
.fa-heart{
    font-size: 1.8rem;
    position: absolute;
    right: 1.5rem;
}
*/


@media screen and (min-width: 1024px) {
    .nav1{
        justify-content: space-around;
        padding: 1.1rem 0;
    }
    .wishlists p{
        display: flex;
    }
    .wishlists > .fa-heart{
        display: none;
    }
    .fa-brands{
        padding: 0 .7rem;
        font-size: 1rem;
    }

    .navlink{
        display: block;
    }

    .navlink a{
        display: flex;
        font-size: 1.1rem;
        margin: 0 1rem;
        font-weight: 500;
    }

    .navlink{
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top: unset;
        right: unset;
        box-shadow: unset;
    }
    
    
    .navlink a{
        display: unset;
        margin: 1rem 0;
        font-family: 'Ubuntu', sans-serif;
        position: unset;
        left: unset;
        top: unset;
        font-size: 1.1rem;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: unset;
        font-weight: 500;
        padding: 0 1rem;
    }

    .fa-times{
        display: none;
    }

    .nav2{
        justify-content: space-around;
        padding: 1.4rem 0;
    }

    .hamburger{
        display: none;
    }

    .fa-cutlery{
        font-size: 1.7rem;
    }

    .nav-header p{
        font-size: 1.5rem;
    }

    .nav-search{
        font-size: 1.2rem;
    }

    .line1{
        display: none;
    }

    .line{
        width: 2px;
        margin: 0 1.7rem;
        height: 22px;
        background-color: #a9a2a2;
}


/*BACKGROUND*/
.bg-contact{
    height: 50vh;
}

.bg-text{
    font-size: 4rem;
    font-weight: 600;
}

/*SECT 1*/
.search-btn input{
    width: 40%;
    padding: 1rem .4rem;
    font-size: 1rem;
}

.search-btn button{
    font-size: 1rem;
    padding: .9rem .4rem;
}

/*SECT 2*/
.flex-item{
    flex-direction: row;
}
.card{
    margin: .4rem .7rem;
}
}