*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*BACKGROUND*/
.bg-contact img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bg-contact{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imag/img29.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%; 
}

.bg-text{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-align: center;
    padding: 12rem 0;
}



/*SECT 1*/
.form{
    width: 90%;
    margin: 3rem auto;
    padding: 2rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.form-container1{
    box-shadow: 0 0 5px #ccc8c8;
    padding: 2rem 1rem;
}

.form-header{
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.flex-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-item input{
    margin: 1rem 0;
    padding: 1rem .7rem;
    outline: none;
    border: none;
    background-color: #F0F3F1;
}

.flex-item input:focus{
    outline: 2px solid #F15025;
}

.textarea{
    margin: 1rem 0;
}

#text{
    width: 100%;
    border: none;
    outline: none;
    background-color: #F0F3F1;
    padding: 1rem .7rem;
}

#text:focus{
    outline: 2px solid #F15025;
}

.form-btn{
    margin: 1.6rem 0;
    text-align: center;
}

.form-btn button{
    padding: .6rem 1.5rem;
    background-color: #F15025;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Sono', sans-serif;
    font-weight: 500;border-radius: 5px;
}

.form-container2{
    margin: 3rem 0;
}

.form2-header{
    text-align: center;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.item-container{
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0 3px #ccc8c8;
    display: flex;
    flex-direction: column;
}

.flex-text{
    display: flex;
    align-items: center;
}

.fa-solid{
    font-size: 1.3rem;
}

.container2-text{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 0 .7rem;
}

.flex-text2{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #a9a2a2;
    margin: .7rem 1.9rem;
}


@media screen and (min-width: 750px) {
    .bg-text{
        font-size: 3rem;
    }

    /*form*/
    .form-header, .form2-header{
        font-size: 2.2rem;
    }
    .flex-item input{
        padding: 1.2rem .7rem;
        font-size: .9rem;
    }
    #text{
        font-size: .9rem;
    }

    .form-btn button{
        padding: .8rem 2.5rem;
        font-size: .9rem;
    }
    .container2-text{
        font-size: 1.4rem;
    }
    .flex-text2{
        font-size: 1.1rem;
    }

}




@media screen and (min-width: 1024px) {

/*BACKGROUND*/
.bg-contact{
    height: 60vh;
}

.bg-text{
    font-size: 4rem;
    font-weight: 600;
}


/*SECT 1*/
.form{
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
.form-header p{
    font-size: 2.5rem;
}
.flex-item{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}

.flex-item input{
    width: 100%;
    margin: .4rem;
}

.form-container1{
    width: 50%;
}

.form-btn button{
    padding: .6rem 2rem;
    font-size: 1rem;
}




}