/*
color: #d54215;
background-color: #191919;
color: #F15025;  color 2
background: #F0F3F1; - form

Google fonts
font-family: 'Ubuntu', sans-serif;
*/

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

/*MODAL BOX*/
.background{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 7;
}
.closeicon{
    display: none;
    font-size: 2rem;
    position: fixed;
    left: 92%;
    top: 5%;
    color: #fff;
    z-index: 7;
}
.modal{
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    width: 90%;
    height: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
}
.search-btn{
    width: 90%;
    margin: auto;
    display: flex;
}
.search-btn input{
    width: 73%;
    padding: 1rem .5rem;
    outline: none;
    border: none;
    color: #000;
    font-size: 1rem;
    background-color: #F3F2EF;
}
.search-btn button{
    width: 19%;
    padding: .8rem .5rem;
    outline: none;
    border: none;
    background-color: #F15025;
    color: #fff;
    font-size: .9rem;
}


/*NAV LINK*/
.nav-block{
    display: block;
}
.nav-1{
    background-color: #191919;
    color: #fff;
}

.nav1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem;
}
.submit-icon{
    display: flex;
    align-items: center;
}

.nav-submit{
    display: flex;
    align-items: center;
}

.fa-brands{
    padding-left: .2rem;
}

.fa-solid{
    padding-left: .3rem;
}

.nav-submit{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
}
.wishlists p{
    display: none;
    font-weight: 500;
    font-size: 1rem;
}
.nav-submit:hover{
    color: #F15025;
    cursor: pointer;
}

.nav2{
    /*position: fixed;
    z-index: 10;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.nav-header {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.nav-header p{
    font-size: 1.2rem;
}

.fa-cutlery{
    font-size: 1.5rem;
}

.navlink{
    display: none;
    background-color: #fff;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0 0 2px #232323;
}


.navlink a{
    display: block;
    color: #636161;
    text-decoration: none;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    left: 2rem;
    top: 4rem;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid #a9a2a2;
    font-weight: 500;
    padding: 1rem 0;
}

.navlink a:hover{
    color: #000;
}

.navlink.show {
    display: block;
  }

.fa-times{
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    font-size: 1.8rem;
}

.nav-icon{
    display: flex;
    align-items: center;
}
.hamburger{
    display: block;
}

.hamburger span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: #232323;
    margin: 5px;
}

.line{
    width: 2px;
    margin: 0 .5rem;
    height: 22px;
    background-color: #a9a2a2;
}

.nav-search{
    font-size: 1rem;
    color: #232323;
}

/*nav 3*/
.back-drop{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}
.nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}
.nav3 input{
    width: 100%;
}


/*BACKGROUND
.containerbox{
    margin-top: 75px;
}*/
.sms{
    width: 100%;
    height: 60vh;
}

swiper-slide {
    display: flex;
    width: 90%;
}  

swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slide1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imag/img27.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imag/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imag/img25.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-details{
    width: 70%;
    margin: auto;
    /*transform: translate(-50% -50%);*/
}

.cardheader{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1rem;
}

.cardtext{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 2.7rem;
    color: #fff;
}

.cardbutton{
    border: none;
    outline: none;
    background-color: #F15025;
    padding: .7rem .9rem;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    border-radius: 2rem;
    font-size: .9rem;
}

.cardbutton a{
    color: #fff; 
}

.cardbutton:hover{
    background-color: #9d3c21;
}

.cardbutton:hover{
    transition-duration: 0.3s;

}


/*SECT 1*/
.slider-container{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
}
.wrapper i{
    top: 20%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 100%;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 100%;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  



  /*body {
    background-color: #1B1B1B;
  }

  swiper-container {
    width: 80%;
    height: 80%;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }*/




/*subscribe*/
.sub-container{
    align-items: start;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imag/img43.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
.sub-item{
    display: flex;
    flex-direction: column;
    
}















/*FOOTER*/
footer{
    padding: 1.5rem 0;
    background-color: #191919;
}

.footer-item{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-text{
    margin: 1rem 0;
}

.footer-head{
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
}

.footer-link{
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin: 1rem 0;
    color: #fff;
}
.anchor-link a{
    display: block;
    margin: .7rem 0;
    color: #fff;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    font-size: .9rem;
}

.input-flex{
    display: flex;
    align-items: center;
}

.input-flex input{
    width: 70%;
    padding: .7rem .5rem;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-flex button{
    padding: .7rem .5rem;
    outline: none;
    border: none;
    background-color: #F15025;
    color: #fff;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



@media screen and (min-width: 750px) {
    .navlink{
        width: 60%;
    }
}




@media screen and (min-width: 1024px) {
    .modal{
        width: 40%;
    }
    .closeicon{
        font-size: 3rem;
    }

    /*NAV LINK*/
    .nav1{
        justify-content: space-around;
        padding: 1.1rem 0;
    }
    .wishlists p{
        display: flex;
    }
    .wishlists > .fa-heart{
        display: none;
    }
    .fa-brands{
        padding: 0 .7rem;
        font-size: 1rem;
    }

    .navlink{
        display: block;
    }

    .navlink a{
        display: flex;
        font-size: 1.1rem;
        margin: 0 1rem;
        font-weight: 500;
    }

    .navlink{
        background-color: unset;
        position: unset;
        width: unset;
        height: unset;
        top: unset;
        right: unset;
        box-shadow: unset;
    }   
    
    .navlink a{
        display: unset;
        margin: 1rem 0;
        font-family: 'Ubuntu', sans-serif;
        position: unset;
        left: unset;
        top: unset;
        font-size: 1.1rem;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: unset;
        font-weight: 500;
        padding: 0 1rem;
    }

    .fa-times{
        display: none;
    }

    .nav2{
        justify-content: space-around;
        padding: 1.4rem 0;
    }

    .navline{
        display: none;
    }

    .hamburger{
        display: none;
    }

    .fa-cutlery{
        font-size: 1.7rem;
    }

    .nav-header p{
        font-size: 1.5rem;
    }

    .nav-search{
        font-size: 1.2rem;
    }

    .line1{
        display: none;
    }

    .line{
        width: 2px;
        margin: 0 1.7rem;
        height: 22px;
        background-color: #a9a2a2;
}



/*BACKGROUND*/
.sms{
    height: 84vh;
}

.card-details{
    width: 35%;
}

.cardtext{
    font-size: 1.4rem;
}

.cardheader{
    font-size: 3.5rem;
}

.cardbutton{
    padding: 1.1rem 2rem;
    font-size: 1rem;
}


/*SECT 1 SLIDER */
.carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(90% / 4);
  }

/*FOOTER*/
.footer-item{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-head{
    font-size: 1.5rem;
}

.news{
    width: 30%;
}

.footer-link {
    font-size: 1rem;
}

.anchor-link a{
    font-size: 1rem;
}

}